.slider-container {
    width: 90%;
}

.slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 2%;
}

.sliderimg {
    transition: 0.5s all ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 25px;
}

.sliderimg:hover {
    transform: scale(1.1);
    filter: brightness(95%);
}

.slider-box {
    overflow: hidden;
    position: relative;
    width: 100%;  
    height: 100%; 
    box-shadow: 2px 3px 10px rgba(152, 151, 151, 0.472);
    margin: 0 25px; 
}

.slider-box .hoverbutton {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #87c38f;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

.slider-box:hover .hoverbutton {
    display: block;
}

.hoverbutton:hover {
    background-color: rgb(10, 10, 10);
}
