.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87c38f;
    border-top: 10px solid black;
    border-bottom: 8px solid black;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top:105px;
    width:100vw;
    font-family: 'Fredoka';
}


.main-paragraph {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    font-family: 'Fredoka';
}

.learn-more {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    padding: 25px;
    font-family: 'Fredoka';
    width: 300px;
    margin-top: 20px;
}

.learn-more:hover{
    background-color:#618e67;
    cursor: pointer;
}
.money {
    width: 400px;
    height: 300px;
    padding: 50px;
}

.activities-cont {
    display: flex;
    justify-content: center;
}

.activities {
    color: #87c38f;
    font-family: 'Didact Gothic';
    font-weight: bold;
    font-size: 50px;
    font-family: 'Fredoka';
}

.activity-pig {
    width: 300px;
}

.first-intro {
    font-size: 23px;
    font-family: 'Didact Gothic';
    font-family: 'Fredoka';
}

.home-title {
    font-size: 50px;
    font-family: 'Didact Gothic';
    font-family: 'Fredoka';
}

@media (max-width:600px) {
    /* mobile phone */
    .main-container {
        margin-top: 0;
    }

    .money {
        display: none;
    }

    .home-title {
        font-size: 30px;
        margin-top: 0;
    }

    .first-intro {
        font-size: 15px;
        padding: 10px;
    }
}

@media (min-width:601px) and (max-width:992px) {

    .money {
        width: 200px;
        height: 200px;
    }

    .home-title {
        font-size: 50px;
        margin-top: 0;
    }

    .first-intro {
        font-size: 20px;
    }
}